{% extends 'inventory/personal_client/personal_client_base.html' %}
{% load static %}
{% block content_profile_edit %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
    var sectorLabelSelect = document.getElementById("id_sector_label");
    var productLabelSelect = document.getElementById("id_product_label");

    sectorLabelSelect.addEventListener("change", function() {
        var selectedSectorLabel = sectorLabelSelect.value;

        console.log("Selected sector_label:", selectedSectorLabel);  // Ajout pour le débogage
        
        if (selectedSectorLabel) {
            var xhr = new XMLHttpRequest();
            var url = "/get_product_labels/?sector_label=" + encodeURIComponent(selectedSectorLabel);
            console.log("Request URL:", url);  // Ajout pour le débogage

            xhr.open("GET", url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    console.log("XHR status:", xhr.status);  // Ajout pour le débogage

                    if (xhr.status == 200) {
                        try {
                            var productLabels = JSON.parse(xhr.responseText);
                            console.log("Product labels:", productLabels);  // Ajout pour le débogage

                            productLabelSelect.innerHTML = "";
                            productLabels.forEach(function(label) {
                                var option = document.createElement("option");
                                option.text = label;
                                option.value = label;
                                productLabelSelect.add(option);
                            });
                        } catch (e) {
                            console.error("Error parsing response JSON:", e);  // Ajout pour le débogage
                        }
                    } else {
                        console.error("XHR error:", xhr.status, xhr.statusText);  // Ajout pour le débogage
                    }
                }
            };
            xhr.send();
        } else {
            // Clear product_label options if no sector_label is selected
            productLabelSelect.innerHTML = "";
        }
    });
});

</script>
<form method="post" enctype="multipart/form-data" action="{% url 'personal_client_edit' personal_client.id %}">
    {% csrf_token %}
    <div>
        <label for="profileImage">Photo de profile de l'entreprise</label>
        <div>
            {% if personal_client.profile_photo %}
                <img src="{{ personal_client.profile_photo.url }}" alt="Profile Photo" style="max-width: 150px;">
            {% else %}
                <img src="{% static 'img/profile-img-default.jpg' %}" alt="Profile Photo" style="max-width: 150px;">
            {% endif %}
            <div>
                {{ form.profile_photo }}
            </div>
        </div>
    </div>
    {% for field in form %}
        {% if field.name != 'profile_photo' %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            <div>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
    </br>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {% comment %} <button type="submit">Enregistrer</button> {% endcomment %}
</form>

{% endblock %}
