

{% extends 'inventory/base.html' %}

{% block title %}
Liste des Client personnels - Xchanges DRC App
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Liste des Client personnels</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom du client</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Pays</th>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personal_client in personal_clients %}
                    <tr>
                        <td>{{ personal_client.personal_client_name }}</td>
                        <td>{{ personal_client.address }}</td>
                        <td>{{ personal_client.email }}</td>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <td>
                            <a href="{% url 'edit_personal_client' personal_client.pk %}" class="btn btn-sm btn-primary">Éditer</a>
                            <a href="{% url 'remove_personal_client_confirmation' personal_client.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucun client trouvé.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_personal_client' %}" class="btn btn-primary">Ajouter un Client personnel</a>
        </div>
    </div>
</div> 
{% endblock %} 
