
<!-- inventory/templates/inventory/producers/producers_list.html -->

{% extends 'inventory/base.html' %}

{% block title %}
Liste des Producteurs - Xchanges DRC App
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Liste des Producteurs</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de l'entreprise</th>
                        <th>Nom du gérant</th>
                        <th>Adresse</th>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producer in producers %}
                    <tr>
                        <td>{{ producer.company_name }}</td>
                        <td>{{ producer.manager_name }}</td>
                        <td>{{ producer.address }}</td>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <td>
                            <a href="{% url 'edit_producer' producer.pk %}" class="btn btn-sm btn-primary">Éditer</a>
                            <a href="{% url 'remove_producer_confirmation' producer.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucun producteur trouvé.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_producer' %}" class="btn btn-primary">Ajouter un Producteur</a>
        </div>
    </div>
</div> 
{% endblock %} 
