<!-- inventory/templates/inventory/registration/password_reset.html -->

{% extends "base_login.html" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Mot de passe oublié</h5>
            <p class="text-center small">Entrez votre adresse email pour réinitialiser votre mot de passe</p>
        </div>
        <form method="post" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="col-12">
                <label for="email" class="form-label">Adresse Email</label>
                <input type="email" name="email" class="form-control" id="email" required>
                <div class="invalid-feedback">
                    Veuillez entrer une adresse email valide.
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Envoyer</button>
            </div>
            <div class="col-12">
                <p class="small mb-0"><a href="{% url 'login' %}">Se connecter</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
