{% load static %}

{% block subject %}
{% autoescape off %}
Réinitialisation de mot de passe
{% endautoescape %}
{% endblock %}

{% block text %}
{% autoescape off %}
Bonjour,

Vous avez demandé à réinitialiser votre mot de passe. Pour continuer, veuillez suivre ce lien :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.

Cordialement,
L'équipe de Xchanges
{% endautoescape %}
{% endblock %}

{% block html %}
{% autoescape off %}
<p>Bonjour,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Pour continuer, veuillez suivre ce lien :</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Réinitialiser votre mot de passe</a></p>

<p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>

<p>Cordialement,<br>L'équipe de Xchanges</p>
{% endautoescape %}
{% endblock %}
