<!-- inventory/templates/inventory/company_clients/company_client_detail.html -->

{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ client.company_name }}</h2>
            <p>{{ client.address }}</p>
            <p>{{ client.email }}</p>
            <p>{{ client.phone_number }}</p>
            <!-- Ajoutez d'autres détails ici -->
        </div>
    </div>
</div>
{% endblock %}
