<!-- inventory/templates/inventory/suppliers/supplier_form.html -->

{% extends 'inventory/base.html' %}

{% block title %}
{% if supplier %}
Éditer {{ supplier.company_name }} - Xchanges DRC App
{% else %}
Ajouter un Fournisseur - Xchanges DRC App
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>{% if supplier %}Éditer {{ supplier.company_name }}{% else %}Ajouter un Fournisseur{% endif %}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}