
<!-- inventory/templates/inventory/suppliers/suppliers_list.html -->

{% extends 'inventory/base.html' %}

{% block title %}
Liste des Fournisseurs - Xchanges DRC App
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Liste des Fournisseurs</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de l'entreprise</th>
                        <th>Nom du gérant</th>
                        <th>Adresse</th>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.company_name }}</td>
                        <td>{{ supplier.manager_name }}</td>
                        <td>{{ supplier.address }}</td>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <td>
                            <a href="{% url 'edit_supplier' supplier.pk %}" class="btn btn-sm btn-primary">Éditer</a>
                            <a href="{% url 'remove_supplier_confirmation' supplier.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucun fournisseur trouvé.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_supplier' %}" class="btn btn-primary">Ajouter un Fournisseur</a>
        </div>
    </div>
</div> 
{% endblock %} 
